body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
#footer{
    width:100%;
    height:2vw;
    padding:1vw;
    color:#A0A0A0;
}
.footerText{
    width:20vw;
    height:3vw;
    margin: 0 auto;
    font-size:0.8vw;
}