@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
.header {
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: black;
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    font-weight: bold;
    color:white;
    padding:1vw;
}
.header_contents{
    width:98vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.my_logo{
    font-size: 1vw;
    color:black;
}