@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
#header {
    display: flex;
    width: 100vw;
    height: 5vw;
    background-color: black;
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    font-weight: bold;
    color:white;
    margin: 0 auto;
}
.header_contents{
    width:90vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color:red;
}
.my_logo{
    font-size: 1vw;
    color:black;
}