#wrap{
    width:90vw;
    margin:0 auto;
    background-color:pink;
}
.faceImgAndBasicInfo{
    width:100%;
    height:
}
.ecoLogo{
    width:5vw;
}
.faceImg{
    width:10vw;
}
#nameInput{
    width:15vw;
    padding:0.5vw;
    border-radius:0.3vw;
}
#fetchImageButton{
    padding:0.5vw;
    width:5vw;
    height:2vw;
    border-radius:0.3vw;
    background-color:red;
}