#wrap{
    width:90vw;
    margin:0 auto;
    background-color:pink;
}
.faceImgAndBasicInfo{
    width:100%;
    height:
}
.ecoLogo{
    width:5vw;
}
.faceImg{
    width:10vw;
}
#nameInput{
    width:15vw;
    padding:0.5vw;
}