/*버튼 공통 CSS*/
.btn_common_style{
     background-color:#14227A;
     color:white;
}
.btn_common_style:hover{
     background-color:#A0A0A0;
     transition: all 1s ease;
}
#wrap{
    width:90vw;
    height:100%;
    margin:0 auto;
    /*background-color:pink;*/
}
.ecoLogo_DateAndTime{
    display:flex;
    align-items:center;
}
.ecoLogo{
    width:5vw;
}
.faceImgAndBasicInfo{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:80%;
    height:20vw;
    /*background-color:green;*/
}
.faceImg{
    width:16vw;
}
.basicInfoCard{
    width:50vw;
    height:100%;
}
.basicInfoCard_title{
    font-size:1.2vw;
    font-weight:bold;
    margin-bottom:1.2vw;
}
.basicInfoCard_content{
    font-size:1vw;
    line-height:180%;
}
.BasicInfoTable{
    width:100%;
    border-collapse:collapse;
    border:1px solid black;
    font-size:1vw;
}
.BasicInfoTable >tr,td{
    border:1px solid black;
    padding:0.8vw 0.5vw;
}
/*section 공통 .contents_title 클래스*/
.contents_title{
    width:100%;
    height:2vw;
    font-size:1.5vw;
    font-weight:bold;
    padding:0vw 0.8vw;
    margin: 1vw 0;
    border-left:0.3vw solid #14227A;
}
#information{
    width:100%;
    height:16vw;
    /*background-color:red;*/
}
.subInfo{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:9vw;
    font-size:1vw;
    /*background-color:green;*/
}

.info_box{
    width:20vw;
    height:100%;
    padding:1vw;
    background-color:white;
    box-shadow:0.1vw 0.1vw 0.8vw #ccc;
    border-radius:0.5vw;
    line-height:180%;
}
.info_box_span{
    width:3vw;
    height:0.4vw;
    background-color:#14227A;
}
.info_box_title{
    font-size:1.2vw;
    font-weight:bold;
    margin-bottom:1vw;
    padding-top:0.3vw;
}
#projects{
    width:100%;
    height:20vw;
    /*background-color:blue;*/
    margin-bottom:2vw;
}
.project_wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:90%;
    margin: 0 auto;
    height:17vw;
}
.project_box{
    display:block;
    width:23vw;
    height:15vw;
    padding: 1vw;
    border-radius:0.5vw;
    line-height:180%;
    box-shadow: 0vw 0.5vw 0.7vw #9D9D9D;
    /*background-color:white;*/
}
.project_img{
    display:flex;
    justify-content:center;
    width:fit-content;
    height:5vw;
    margin: 0 auto;
    text-align:center;
     padding: 0.5vw;
}
.project_img_big{
   display:flex;
    justify-content:center;
    width:fit-content;
    height:2.5vw;
    margin: 0 auto;
    text-align:center;
    padding: 1.5vw;
}
.project_content{
    width:100%;
    height:8vw;
    font-size:1vw;
    color:black;
    line-height:150%;
    margin-top: 1vw;
}
hr{
    border:solid 0.05vw #ccc;
}
.project_title{
    font-size:1.2vw;
    font-weight:bold;
    margin-top:0.5vw;
    margin-bottom:0.6vw;
    color:black;
}
.project_date{
    font-size:0.9vw;
    font-weight:bold;
    color:#9D9D9D;
    margin-bottom:0.5vw;
}
.project_description{
    font-size:0.8vw;
    font-weight:bold;
    color:black;
}
.tag_list{
   display:flex;
   flex-wrap: wrap;
   width:100%;
   margin:0.2vw 0 0.6vw 0;
}
.tags{
    padding:0.05vw 0.3vw;
    font-size:0.7vw;
    color:white;
    border-radius: 0.1vw;
    margin-right:0.15vw;
    background-color:#2E2E2E;
}
/*공통 컬러*/
.spring_springboot_color{
    background-color:#7EB252;
}
.java_color{
    background-color:#4E7896;
}
.js_color{
    background-color:#F49153;
}
.jquery_color{
    background-color:#F49153;
}
.db_color{
    background-color:#133443;
}
.apache_color{
    background-color:#B05F18;
}
.blogs_box{
    width:100%;
    height:23vw;
}
.blogs_wrap{
    width:100%;
    height:18VW;
    box-shadow:0.1vw 0.1vw 0.8vw #ccc;
}
#blog-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:15vw;
    margin-bottom:1vw;
}
.blog_card{
    display:block;
    width:20vw;
    height:13vw;
    padding:1vw;
    border-radius:0.5vw;
    color:black;
    background-color:ivory;
    margin-right:0.5vw;
}
.blog_img{
    width:10vw;
    height:6vw;
}
.blog_title{
    width:100%;
    height:1.5vw;
    font-size:1.2vw;
    font-weight:bold;
    color:black;
    margin-top:1vw;
    margin-bottom:0.5vw;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.blog_date{
    font-size:0.9vw;
    font-weight: bold;
    color:#9D9D9D;
    margin-top:0.5vw;
}
.blog_description{
    font-size:1vw;
    color:black;
     line-height:150%;
     margin-top: 1vw;
}
.blog_content{
    width:100%;
    height:1vw;
    font-size:0.9vw;
    font-weight:bold;
   margin-top:0.5vw;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    color:black;
}
.pageBtn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:1vw;
    height:1vw;
    font-size:0.8vw;
    border-radius:0.1vw;
    color:white;
    margin:0.1vw;
    padding:1vw;
}
.pagination_wrap{
    display:flex;
    align-items:center;
    width:10vw;
    height:2vw;
    margin:0 auto;
}
#prev-button > img, #next-button > img{
       width: 1.5vw;
        height: 1.5vw;
}
#prev-button{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}
#next-button{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}
.pagination{
    display:flex;
    justify-content:center;
    align-items: center;
    width:6vw;
    height:100%;
    margin:0 auto;
}
#base64Results{
    width:100%;
    height:13vw;
    margin: 0 auto;
}
#nameInput{
    width:50vw;
    height:2vw;
    font-size:1vw;
    padding:0.5vw;
    border-radius:0.3vw;
}
#fetchImageButton{
    width:5vw;
    height:3vw;
    padding:0.5vw;
    border-radius:0.3vw;
    font-size:0.9vw;
}
#imageContainer{
    width:5vw;
    height:5vw;
}
#textContainer{
    font-size:0.9vw;
    font-weight:bold;
}
.base64ContentsResults{
    display:flex;
    width:100%;
    height:8vw;
    margin-top:0.5vw;
}
#topBtn{
    display: none; /* 페이지의 상단으로 올라가기 전까지 버튼 숨김 */
        position: fixed; /* 어디를 이동하는 지에 상관없이 같은 위치에 존재. */
        bottom: 5vw;
        right: 5vw;
        z-index: 5;
        font-size: 1.2vw;
        border: none;
        outline: none;
        color: white;
        cursor: pointer; /* 해당 태그 위에 위치하는 마우스의 모양이 변한다(손가락 포인터 모양으로).wait-모레시계 모양으로 바뀜 */
        padding: 1vw;
        border-radius: 1vw;
}


