<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<div th:replace="~{fragments/header::header}" class="header"></div>
<div layout:fragment="content">
    <h1>박민영의 이력서</h1>
    <a href = "/hello">hello</a>
    <h1>Fetched Result</h1>
    <div th:text="${text}"></div>
    <!--
    <h1>이미지 표시</h1>
    <img th:src="${img}" alt="Base64 Image"/>
    -->

    <h1>이미지 호출</h1>
    <input type="text" id="imageUrlInput" placeholder="이미지 URL 입력" />
    <button id="fetchImageButton">결과물 가져오기</button>
    <div id="imageContainer"></div> <!-- 이미지를 표시할 영역 -->

    <div th:replace="~{fragments/footer::footer}"></div>
</div>
<th:block layout:fragment="script">
    <script>
        //버튼을 클릭하면~
        document.getElementById('fetchImageButton').addEventListener('click', function() {
            const imageUrl = document.getElementById('imageUrlInput').value; // 입력된 URL 가져오기
            console.log("imageUrl은? "+ imageUrl);

            fetch('/uploadImageUrl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ imgUrl: imageUrl }) // URL을 JSON 형식으로 전송
            })
            .then(response => response.text()) // 서버의 응답을 텍스트로 받아옴
            .then(base64Image => {
                // Base64 이미지를 브라우저에 표시
                const imgElement = document.createElement('img');
                imgElement.src = base64Image; // Base64 이미지를 img 태그에 설정
                imgElement.alt = 'Fetched Image'; // 이미지 설명 추가

                // 이미지 컨테이너에 추가
                const imageContainer = document.getElementById('imageContainer');
                imageContainer.innerHTML = ''; // 기존 이미지를 제거
                imageContainer.appendChild(imgElement); // 새 이미지를 추가
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</th:block>


</html>