<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/information.css}">
<link rel="stylesheet" th:href="@{/css/skill.css}">

<div th:replace="~{fragments/header::header}" class="header"></div>
<section layout:fragment="content" id="wrap">
    <h2 hidden>박민영의 이력서</h2>

    <section id="BasicInfo">
        <h2 class="contents_title">안녕하세요 솔선수범한 개발자 박민영입니다.</h2>
        <div id="imgSet">
            <img th:src="@{/img/faceImg.png}" alt="faceImage" class="faceImg">
            <ol id="ulSet">
                <li id="list1"><span>01<span class="dot">.</span>자기소개</span></li>
                <li id="list2"><span>02<span class="dot">.</span>성격의 장점</span></li>
                <li id="list3"><span>03<span class="dot">.</span>교육 및 직무역량</span></li>
                <li id="list4"><span>04<span class="dot">.</span>지원동기</span></li>
            </ol>
            <figure>
                <figcaption id="text4" class="text">
                    <p>
                        저는 평소 도서관에서 책을 자주 빌려 읽습니다.<br>
                        이러한 일상 속에서 대출 방식의 변화가 사용자에게 편리함을 제공하는 것을 보며, 이씨오라는 기업이 RFID 기술을 통한 도서관 자동화 솔루션, 하이브리드 자료관리 시스템인 알파스를 통해
                        관련 기기 뿐만 아니라 도서관을 이용하는 사람들과 도서관을 관리하는 사람들의 삶의 질을 향상시키고 있다는 점에 깊은 인상을 받았습니다.
                        <br>이는 제가 개발하고자 하는 가치 및 방향성과도 일치합니다.<br>
                        이씨오에서 웹 자료 관리와 솔루션 기반의 업무를 이어가며, 사용자들의 일상을 더욱 편리하게 만드는 데 기여하고 싶습니다.
                    </p>
                </figcaption>
            </figure>
            <figure>
                <figcaption id="text3" class="text">
                    <p>
                        학부에서 Javascript 웹사이트 제작과 C# 유니티 언리얼 엔진을 통한 다양한 게임을 구현하였습니다.
                        개발에 관심을 가지며 방학 중 학생연구원 활동으로 VR 비트 월드 프로젝트를 진행하였습니다. Oculus 기기와 멀티 유저 관련 이슈를 해결하고 문서화하면서 사용자 중점의 개발에 대해 가치를 느꼈습니다.
                        <br>이후 한국 정보교육원에서 JAVA,Spring Boot,Javascript,Oracle,MYSQL,MariaDB 등의 전반적인 실무 위주의 백엔드 개발 교육을 6개월간 받았습니다.
                        <br>&nbsp;1차 프로젝트에서는 MYSQL DB를 사용하여 공공데이터 API 파싱 게시판을 구현하였습니다. JDBC 드라이버를 데이터베이스에 연결하였으며, 생성자 클래스, 실행 클래스, JsonData 파싱 클래스와 Scanner 객체를 사용하여 사용자 입력값을 받아 PreparedStatement 객체와 쿼리문(바인드 변수)을 사용하여 구현하였습니다.
                        <br>&nbsp;2차 팀 프로젝트에서는 팀장 역할을 맡아 MZ 세대를 위한 여행 웹사이트를 제작하였습니다. JQuery와 Javascript를 사용하여 화면을 구현하였습니다.
                        <br>&nbsp;3차 파이널 팀 프로젝트는 Spring Boot, Gradle, Thymeleaf 문법을 사용하여 진행되었으며, 2030 세대를 위한 셀프 인테리어 웹사이트를 주제로 선정하여 진행하였습니다. 그중 팀장 역할을 맡아 플래너 관리와 팀원과의 원활한 소통을 위한 상담을 진행하였습니다.
                        기능 구현으로는 인테리어 팁 앤 매거진 메뉴를 구현하였습니다. 매거진 글 등록, 수정, 삭제, 검색 기능과 페이지 네이션, Ajax 댓글 기능, Ajax 스크랩 기능을 구현하였습니다. 팀원의 트러블 슈팅을 도우며 디버깅을 더욱 빠르게 진행할 수 있었습니다.
                    </p>
                </figcaption>
            </figure>
            <figure>
                <figcaption id="text2" class="text">
                    <p>
                        스프링부트 3차 프로젝트 팀장을 맡아 진행하였습니다. 과제 수행에 어려움을 겪거나 진로를 변경하는 팀원 등 각기 다른 입장의 팀원들과 프로젝트를 진행했습니다.
                        <br>초반 회의를 통해 팀원의 과반수가 프로젝트 이해에 어려움을 겪고 있다는 문제를 인식하게 되었습니다. 어떻게 하면 팀원들이 쉽게 프로젝트 접근을 쉽게 할 수 있을 지 고안하며 해당 문제를 해결하기 위해 다양한 방법으로 코드 분석을 시도하였습니다.
                        <br>처음엔 모르는 게 많아 메서드 블록 단위로 분석하였습니다. 이후엔 M-V-C 패턴에서 컨트롤러를 방향 지표로 잡는 C-M-V 순서로 접근하는 방법을 정립하였고 이를 문서화 하여 팀원들에게 공유함으로써 팀원의 프로젝트 이해에 도모하였습니다.
                        학습 지향성 및 지속가능한 성장을 위해 격려하며, 주마다 과제를 스스로 설정하고 피드백 하였습니다. 이후 플랜 관리를 위해 매일 모여 각자 결과물을 피드백 하는 방식을 고안하여 진행하였습니다. 구현에 난이도 있는 기술의 경우 함께 트러블슈팅을 진행하며 전반적인 기능 구현을 도와 빠른 문제 해결을 가능 하도록 하였습니다. 기존 계획의 차선책으로서 저와 다른 팀원이 조금씩 역할을 추가로 분담하여 전체 프로젝트를 마무리 지을 수 있었습니다.
                        결과적으로 기능 구현에 오류 없이 3차 프로젝트를 마무리 지었습니다. 수행에 어려움이 생기더라도 자신에게 주어진 역할과 임무를, 책임감을 가지고 완수해야 한다고 생각합니다.
                        이와 같은 솔선수범한 태도와 끝까지 완수해 내는 책임감이 저의 큰 장점입니다.
                    </p>
                </figcaption>
            </figure>
            <figure>
                <figcaption id="text1" class="text">
                    <p>
                        학부에서 프로그래밍을 전공하여 C#과 JavaScript 두 가지 언어를 함께 학습하면서 서로 다른 언어이지만 사용하는 방법은 비슷하다는 점을 알 수 있었기 때문에 새로운 언어에 도전할 수 있는 원동력이 되었습니다.
                        학생 연구원에 참여하여 사용자 중심의 개발 방향성을 지향하게 되었으며, 개발자로서의 진로를 확고히 하였습니다.
                        <br>기획 및 디자이너와 협업 할 수 있는 기회가 있어, 졸업 작품으로 서비스 웹사이트를 제작했습니다.
                        <br>이후 백엔드 개발자로서 전문성을 키우기 위해 한국정보교육원에서 6개월 간 학습하였습니다.
                        언어로는 Java, JavaScript, DB로는 MySQL, MariaDB, Oracle, 그리고 Spring Boot를 학습하며 총 3개의 프로젝트를 진행했습니다.
                        그 중, 2차와 3차 팀 프로젝트에서는 팀장 역할을 맡아 프로젝트를 이끌었습니다.
                        이러한 경험을 통해 기술적 역량 뿐만 아니라 팀워크와 리더십 역량 또한 키울 수 있었습니다. 감사합니다.
                    </p>
                </figcaption>
            </figure>
        </div>
    </section>

    <section id="information">
        <h2 class="contents_title">Information</h2>
            <div class="subInfo">
                    <ul class="info_box">
                        <li class="info_box_span"></li>
                        <li class="info_box_title">About Me</li>
                        <li>박민영 | 1997.12.01</li>
                        <li></li>
                        <li>계원예술대학교 디지털미디어디자인학과 졸업</li>
                        <li>세부전공 프로그래밍</li>
                    </ul>
                    <ul class="info_box">
                        <li class="info_box_span"></li>
                        <li class="info_box_title">Activities</li>
                        <li>1학년 2학기 과대표</li>
                        <li>1학년 2학기 졸업준비 위원회 전시팀</li>
                        <li>2023 1학기 도서관 마일리지 장학생 선정</li>
                        <li>2학년 1학기 학생연구원 활동 (주)원더랩</li>
                        <li>2학년 1,2학기 성적우수 장학생</li>
                    </ul>
                    <ul class="info_box">
                        <li class="info_box_span"></li>
                        <li class="info_box_title">Educatoin & Study</li>
                        <li>한국정보교육원[SQF기반] 자바 스프링으로 완성하는 공공데이터 활용 백엔드 개발자 양성</li>
                        <li>월간 CS – React Deep Dive 발표형 스터디</li>
                        <li>CS 기상 스터디</li>
                    </ul>

                    <ul class="info_box">
                        <li class="info_box_span"></li>
                        <li class="info_box_title">Work</li>
                        <li>원더랩(One the Lab) 학생연구원</li>
                    </ul>
            </div>
    </section>

    <section id="skillInfo">
        <h2 class="contents_title">Skill</h2>
        <div class="btn_box">
            <button class="skillInfo_btn btn_common_style" id="skill_description_btn">기술 설명</button>
            <button class="skillInfo_btn btn_common_style" id="skill_all_btn">한눈에 보기</button>
        </div>
            <ul id="skill_contents_ver_wrap">
                <li class="skill_contents_card">
                    <h3>SpringBoot</h3>
                    <hr>
                    <p>MVC 패턴에 대해 이해하고 있으며 Get/Post 방식을 사용하여 컨트롤러에서 사용자가 입력한 데이터베이스를 DAO 영속 계층을 사용하여 DB에 접근 및 전달하고 화면에 전송할 수 있습니다.
                        이미지 저장과 Pageable을 사용한 페이지네이션 구현이 가능합니다.
                    </p>
                </li>
                <li class="skill_contents_card">
                    <h3>Spring</h3>
                    <hr>
                    <p>Spring Framework를 사용한 게시판 구현이 가능하며 VO 클래스를 사용하여 페이지네이션 기능 구현이 가능합니다.</p>
                </li>
                <li class="skill_contents_card">
                    <h3>Java</h3>
                    <hr>
                    <p>웹사이트 구현 및 공공데이터 API를 파싱하여 DB에 저장하거나 사용자 경험을 위한 Ajax 사용이 가능합니다. Java의 동작원리에 대해 이해하고 있으며 JVM과 Garbage Collection 및 핵심 동작들을 이해하고 있습니다. </p>
                </li>
                <li class="skill_contents_card">
                    <h3>Javascript</h3>
                    <hr>
                    <p>자바스크립트를 사용한 Ajax 댓글 등록 기능 및 스크랩 기능 구현이 가능합니다. 동적 태그 생성을 통한 구현이 가능합니다.</p>
                </li>
                <li class="skill_contents_card">
                    <h3>JQuery</h3>
                    <hr>
                    <p>디테일한 애니메이션이나 기능의 구현이 가능합니다. 변수 선언 및 원하는 함수를 만들어 사용할 수 있습니다. 제이쿼리를 자바스크립트로 변환하여 사용이 가능합니다.</p>
                </li>
                <li class="skill_contents_card">
                    <h3>Node.js</h3>
                    <hr>
                    <p>mysql과 javascript를 연동하여 로그인 및 서버 구현이 가능합니다.</p>
                </li>
                <li class="skill_contents_card">
                    <h3>React</h3>
                    <hr>
                    <p>컴포넌트 관리와 리액트 Hook useState를 통한 동적 상태 관리가 가능합니다. 기본 프로젝트 제작이 가능합니다.</p>
                </li>
                <li class="skill_contents_card">
                    <h3>MySQL /MariaDB</h3>
                    <hr>
                    <p>쿼리문을 사용하여 CRUD 기능 구현이 가능합니다. 테이블 left, right 조인과 제1, 제2, 제3 정규화에 대해 이해하고 있으며 1:1 多:1 多:多 테이블 관계를 정립하여 사용이 가능합니다.</p>
                </li>
            </ul>

            <ul id="skill_summary_ver_wrap">
                <li class="skill_summary_card"><h3 id="springBoot">SpringBoot</h3></li>
                <li class="skill_summary_card"><h3 id="spring">Spring</h3></li>
                <li class="skill_summary_card"><h3 id="java">Java</h3></li>
                <li class="skill_summary_card"><h3 id="javascript">Javascript</h3></li>
                <li class="skill_summary_card"><h3 id="jQuery">JQuery</h3></li>
                <li class="skill_summary_card"><h3 id="nodeJs">Node.js</h3></li>
                <li class="skill_summary_card"><h3 id="react">React</h3></li>
                <li class="skill_summary_card"><h3 id="db">Mysql /MariaDB</h3></li>
            </ul>
    </section>


    <section id="projects">
        <h2 class="contents_title">Projects</h2>
        <ul class="project_wrap">
            <li>
                <a href="https://www.notion.so/Art-In-Home-18fae782231e80259a46f1048f830f7f?pvs=4" class="project_box">
                    <img th:src="@{/img/artInHome.png}" alt="" class="project_img">
                    <div class="project_content">
                        <hr>
                        <p class="project_title">아트인 홈 Art-In-Home</p>
                        <ul class="tag_list">
                            <li class="tags java_color">Java</li>
                            <li class="tags spring_springboot_color">springBoot</li>
                            <li class="tags js_color">Javascript</li>
                            <li class="tags db_color">MariaDB</li>
                            <li class="tags apache_color">Apache Tomcat</li>
                        </ul>
                        <p class="project_description">2030세대를 위한 셀프 인테리어 서비스 웹사이트 구현.</p>
                        <p class="project_date">2024.09~2024.10</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.notion.so/Tour-Us-18fae782231e80b9b5f9f2aaec2b04eb?pvs=4" class="project_box">
                    <img th:src="@{/img/tourUs.png}" alt="" class="project_img_big">
                    <div class="project_content">
                        <hr>
                        <p class="project_title">투어 어스 Tour-Us</p>
                        <ul class="tag_list">
                            <li class="tags">Html5</li>
                            <li class="tags">CSS3</li>
                            <li class="tags js_color">Javascript</li>
                            <li class="tags js_color">JQuery</li>
                        </ul>
                        <p class="project_description">Z세대를 위한 힐링 여행지 추천 서비스 웹사이트 구현.</p>
                        <p class="project_date">2024.07~2024.8</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.notion.so/Data-CRUD-18fae782231e8021b2dcd70463443368?pvs=4" class="project_box">
                    <img th:src="@{/img/publicApi.png}" alt="" class="project_img_big">
                    <div class="project_content">
                        <hr>
                        <p class="project_title">창업 교육과정 조회서비스</p>
                        <ul class="tag_list">
                            <li class="tags java_color">Java</li>
                            <li class="tags js_color">Javascript</li>
                            <li class="tags db_color">MySQL</li>
                            <li class="tags">Restful API</li>
                            <li class="tags apache_color">Apache Tomcat</li>
                        </ul>
                        <p class="project_description">창업교육과정 조회서비스 공공 데이터 API CRUD 기능 구현.</p>
                        <p class="project_date">2024.05~2024.06</p>
                    </div>
                </a>
            </li>
<!--            <li>-->
<!--                <a href="" class="project_box">-->
<!--                <img th:src="@{/img/plasticWorld.png}" alt="" class="project_img">-->
<!--                <div class="project_content">-->
<!--                    <p class="project_title">Welcome To Plastic World</p>-->
<!--                    <ul class="tag_list">-->
<!--                        <li class="tags">Html5</li>-->
<!--                        <li class="tags">CSS3</li>-->
<!--                        <li class="tags js_color">Javascript</li>-->
<!--                        <li class="tags js_color">JQuery</li>-->
<!--                    </ul>-->
<!--                    <p class="project_description">한달살기/ 체류형 여행을 희망하는 사용자를 위한 하이퍼로컬 플랫폼 서비스 웹사이트.</p>-->
<!--                    <p class="project_date">2023.09~2023.11</p>-->
<!--                </div>-->
<!--                </a>-->
<!--            </li>-->
        </ul>

<!--        <div class="project_explanation">-->
<!--            <h2>아트인 홈 프로젝트 설명</h2>-->
<!--            <p></p>-->
<!--        </div>-->
    </section>


    <!--기술 블로그 크롤링 영역 -->
    <section class="blogs_box">
        <h2 class="contents_title">기술 블로그</h2>
            <div class="blogs_wrap">
                <!--셀레니움 크롤링 -> DB에 저장 -> Ajax 동적으로 GET 방시으로 읽어와서 서버 데이터 넣음 -->
                <div id="blog-container"></div>
                <div class="pagination_wrap">
    <!--                <button id="prev-button" disabled><img th:src="@{/img/back.png}"></button>-->
                    <div class="pagination" id="page-info"></div>
    <!--                <button id="next-button"><img th:src="@{/img/next.png}"></button>-->
                </div>
            </div>
    </section>

    <section id="base64Results">
        <h2 class="contents_title">URL 호출 결과</h2>
        <h4 hidden>전체 URL을 입력하면 결과값이 도출되어 나옵니다.</h4>
        <input type="text" id="nameInput" placeholder="전체 URL을 입력해주세요. (따옴표 상관 없이)" />
        <button id="fetchImageButton" class="btn_common_style">가져오기</button>
        <div class="base64ContentsResults">
            <div id="imageContainer"></div> <!-- 이미지 표시할 영역 -->
            <p id="textContainer"></p>
        </div><!-- 텍스트 표시할 영역 -->
    </section>

    <button id="topBtn" class="btn_common_style">Top</button>
</div>

<div th:replace="~{fragments/footer::footer}"></div>
</section>
<!--            <ul class="info_box">-->
<!--                <li class="info_box_title">Channel</li>-->
<!--                <li>깃허브 주소: https://github.com/judy78799</li>-->
<!--                <li>기술 블로그: https://judy0465.tistory.com/</li>-->
<!--            </ul>-->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/javascript/information.js}"></script>
    <script th:src="@{/javascript/skill.js}"></script>
    <script th:src="@{/javascript/blogPagination.js}"></script>
    <script>
        document.getElementById('fetchImageButton').addEventListener('click', function() {

            //전체 URl을 입력 받았을 때의 문제 풀이(한글이름까지)
             let urlVal = document.getElementById('nameInput').value;
             urlVal = urlVal.replace(/^["']|["']$/g, ''); // 사용자가 따옴표를 입력하였을 경우, 문자열의 시작과 끝에서 따옴표 제거
             const url = new URL(urlVal); //Url 파싱

             // 쿼리 파라미터 가져오기
            const params = new URLSearchParams(url.search);

            // 한글 인코딩 (여기서는 "name" 파라미터를 인코딩하는 예시)
            if (params.has('name')) {
                const nameValue = params.get('name');
                params.set('name', encodeURIComponent(nameValue)); // 한글만 인코딩
            }

            // 인코딩된 쿼리 파라미터로 새로운 URL 생성
            url.search = params.toString(); // 인코딩된 파라미터로 업데이트
            const finalUrl = url.toString(); // 최종 URL

            console.log("인코딩된 URL:", finalUrl); // 최종 URL 확인

            fetch('/uploadImageUrl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ imgUrl: finalUrl }) // 인코딩된 URL을 JSON 형식으로 전송한다.
            }) //이 부분 이후에 서버(컨트롤러)로 갔다가 접두사를 붙인 JSON 데이터를 가지고 반환함.
             .then(response => {
                if (!response.ok) {
                    // 응답이 성공적이지 않은 경우 에러 처리.
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json(); // JSON 응답 받기.(접두사 붙인 JSON 데이터임.)
                })
              .then(data => {
                 if (data.img) { // img 키가 존재하는지 확인.
                    const base64Image = data.img; // img 키의 Base64 문자열을 가져옴.(접두사가 붙은 상태)
                    const imgElement = document.createElement('img');
                    imgElement.src = base64Image; // Base64 이미지를 img 태그에 설정.
                    imgElement.alt = 'Fetched Image'; // 이미지 설명 추가.
                    // lazy loading 속성 추가하여 사용자가 해당 이미지가 화면에 보일 때까지 이미지를 로드하지 않도록 하여 초기 로딩 시간을 줄입니다.
                    imgElement.loading = 'lazy'; // lazy loading 속성 추가.

                    // 기존 이미지를 제거하고 새 이미지를 추가하여 최신 상태 유지.
                    const imageContainer = document.getElementById('imageContainer');
                    imageContainer.innerHTML = ''; // 기존 이미지를 제거.
                    imageContainer.appendChild(imgElement); // 새 이미지를 추가.

                        //최종 img 태그의 src 값에 추가되는 형태를 출력해보자.
                        console.log("최종 img태그의 src에 추가되는 base64Image 값은? => " + base64Image);
                } else {
                    console.error('응답에 img 키가 없습니다', data); // JSON 데이터에 img 키가 없을 경우 에러 반환.
                    alert('서버 응답에 이미지 정보가 없음.');
                }
                if(data.text){
                    const textVal = data.text; // text 키의 문자열을 가져옴.
                    const textElement = document.createElement('h5');   //동적으로 생성
                    textElement.innerHTML = textVal;

                    const textContainer = document.getElementById('textContainer');
                    textContainer.innerHTML = ''; // 기존 text 키의 값을 제거.
                    textContainer.appendChild(textElement); // 새 text를 추가.
                }else{
                    console.log("text 값이 존재하지 않습니다.");
                     alert('서버 응답에 텍스트 정보가 없음.');
                }

            })
            .catch((error) => {
                console.error('Error:', error);
                alert('해당 면접자가 아닙니다.\n'+ error.message); // 사용자에게 오류 메시지 표시
            });
        });

    function scrollToTop() {
    // 현재 스크롤 위치를 가져옵니다.
    const scrollY = window.scrollY; //상수 scrollY는 윈도우의 scrollY값을 가져온다.

    // 스크롤 위치가 0보다 크면, 다시 scrollToTop 함수를 호출합니다.
    if (scrollY > 0) {
        requestAnimationFrame(scrollToTop);
        window.scrollTo(0, scrollY - scrollY / 35); //top으로 스크롤 하여 '0' 으로 도착(맨위), Y에서 Y값으로 스크롤/ 35속도 만큼.
    }
    const topBtn = document.getElementById("topBtn");

    }   // scrollToTop() END.

    window.addEventListener("scroll", function () {
        if (window.scrollY > 100) {
            topBtn.style.display = "block";
        } else {
            topBtn.style.display = "none";
        }
    });

    topBtn.addEventListener("click", scrollToTop);
    </script>
</th:block>


</html>